<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="../scripts/script.js" defer></script>
    <title>Etch a sketcha</title>
</head>
<body>
    <header>
        <h1 class="title">Etch a sketcha</h1>
    </header>
    <main>
        <div class="container">

        </div>
    </main>
    <div class="btn-container">
        <button class="confirm-btn">Click to Add!</button>
        <input type="number">
    </div>
</body>
</html>